<!-- Brand and toggle get grouped for better mobile display -->
<div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" ui-sref="homePage">Equip Me</a>
</div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right font-color">
        <li class="cursor-pointer" ui-sref="prodCartPage">
            <ngcart-summary template-url="bower_components/ngCart/template/ngCart/summary.html"></ngcart-summary>
        </li>
        <li class="dropdown">
            <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
               aria-expanded="false">My Account <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a ui-sref="loginPage">Login</a></li>
                <li><a href="#">Logout</a></li>
                <li ng-show="isLoggedIn">Logged as {{userInfo}}</a></li>
                <li ng-show="isLoggedIn"><a ng-href="#/logout"></a>Logout</li>
            </ul>
        </li>
    </ul>
</div>
