<div class="container">
    <div class="row">
        <div class="col-xs-4">
            Enter the product you want to search
        </div>
        <div class="col-xs-8">
            <div class="form-group">
                <input type="text" class="form-control" id="productname" ng-model="productsVm.productname">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3">
            <div class="row">
                Select the product category you want <br/>
                <span ng-repeat="category in productsVm.productCategory"><br/>
                         <label><input type="checkbox" ng-model="category.on"/> {{category.prodCategory}}</label>
                    </span>
            </div>
            <br/>
            <div class="row">
                Sort Products By Price <br/>
                <label>
                    <input type="radio" ng-model="productsVm.prodPrice" value="prodPrice">
                    Low To High
                </label><br/>
                <label>
                    <input type="radio" ng-model="productsVm.prodPrice" value="-prodPrice">
                    High To Low
                </label><br/>
            </div>
        </div>
        <div class="col-xs-9">
            <div ng-repeat="product in productsVm.products | filter:productsVm.productname:strict | category:(productsVm.productCategory|filter:{on:true}) | orderBy: productsVm.prodPrice">
                <div class="clearfix" ng-if="$index % 3 == 0"></div>
                <div class="col-xs-4" id="prod-item">
                    <img ng-src="{{product.prodImage}}" alt="" class="product-img"><br/>
                    <div class="col-xs-offset-2">
                        <span>{{product.prodName}}</span><br/>
                        <span>Price: {{product.prodPrice | currency}}</span>
                        <ngcart-addtocart id="item3" name="My Item #3" price="25.75" quantity="3" quantity-max="10">Add to Cart</ngcart-addtocart>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>