<div class="container">
    <div class="row prod-description-tile">
        <div class="col-xs-4">
            <img class="img-responsive"
                 ng-src="{{prodDetailVm.prodDetailData.prodImage}}" alt="" width="300" height="250">
        </div>
        <div class="col-xs-8">
            <div class="product-item-description">
                <h3 class="product-item-title">{{prodDetailVm.prodDetailData.prodName}}</h3>
                <h5 class="product-item-desc">
                    An an valley indeed so no wonder future nature vanity.
                    Debating all she mistaken indulged believed provided declared.
                    He many kept on draw lain song as same.
                    Whether at dearest certain spirits is entered in to.
                    Rich fine bred real use too many good.
                    She compliment unaffected expression favourable any.
                    Unknown chiefly showing to conduct no.
                    Hung as love evil able to post at as.
                    Remain lively hardly needed at do by.
                    Two you fat downs fanny three. True mr gone most at. Dare as name just when with it body.
                    Travelling inquietude she increasing off impossible the.
                    Cottage be noisier looking to we promise on.
                    Disposal to kindness appetite diverted learning of on raptures.
                    Betrayed any may returned now dashwood formerly. Balls way delay shy boy man views.
                    No so instrument discretion unsatiable to in. </h5>
                <h3 class="product-item-price">{{prodDetailVm.prodDetailData.prodPrice | currency}}</h3>
            </div>
            <div>
                <ngcart-addtocart template-url="bower_components/ngCart/template/ngCart/addtocart.html"
                                  id="{{prodDetailVm.prodDetailData.prodId}}"
                                  name="{{prodDetailVm.prodDetailData.prodName}}"
                                  price="{{prodDetailVm.prodDetailData.prodPrice}}" quantity="1"
                                  quantity-max="{{prodDetailVm.prodDetailData.prodMaxQuantity}}">
                    Add to Cart
                </ngcart-addtocart>
            </div>
        </div>
    </div>
    <br/>
    <div class="row review-tile">
        <div class="col-xs-12">
            <h4>Reviews</h4>
            <ul>
                <li ng-repeat="review in prodDetailVm.prodDetailData.reviews">
                    <blockquote>
                        <strong>{{review.stars}} Stars</strong>
                        {{review.body}}
                        <cite class="clearfix">—{{review.author}}</cite>
                    </blockquote>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <!--  Review Form -->
            <form name="reviewForm" ng-submit="prodDetailVm.addReview()">

                <!--  Live Preview -->
                <blockquote>
                    <strong>{{prodDetailVm.review.stars}} Stars</strong>
                    {{prodDetailVm.review.body}}
                    <cite class="clearfix">—{{prodDetailVm.review.author}}</cite>
                </blockquote>

                <!--  Review Form -->
                <h4>Submit a Review</h4>
                <fieldset class="form-group">
                    <select ng-model="prodDetailVm.review.stars" class="form-control"
                            ng-options="stars for stars in [5,4,3,2,1]" title="Stars">
                        <option value>Rate the Product</option>
                    </select>
                </fieldset>
                <fieldset class="form-group">
                    <textarea ng-model="prodDetailVm.review.body" class="form-control"
                              placeholder="Write a short review of the product..." title="Review"></textarea>
                </fieldset>
                <fieldset class="form-group">
                    <input ng-model="prodDetailVm.review.author" type="email" class="form-control"
                           placeholder="jimmyDean@example.org" title="Email"/>
                </fieldset>
                <fieldset class="form-group">
                    <input type="submit" class="btn btn-primary pull-right" value="Submit Review"/>
                </fieldset>
            </form>
        </div>
    </div>
</div>

