body {
    background-color: #f7f7f7;
    color: #0f0f0f;
}

#equipme-header {
    border-radius: 0;
    background-color: #1b6d85;
    border-color: #1b6d85;
}

.clear {
    clear: both;
    height: 4em;
}

.footer {
    position: fixed;
    left: 0px;
    bottom: 0;
    width: 100%;
    padding-top: 0.75em;
    height: 3em;
    background-color: #1b6d85;
    color: #0f0f0f;
}

.navbar-header .navbar-brand {
    color: #0f0f0f;
}

.navbar-default .navbar-nav>li>a {
    color: #0f0f0f;
}

.cursor-pointer {
    cursor: pointer;
}

