body {
    background-color: #ffffff;
    color: #0f0f0f;
}

#equipme-header {
    border-radius: 0;
    background-color: #1C86EE;
    border-color: #1b6d85;
}

.clear {
    clear: both;
    height: 4em;
}

body {
    font-family: 'Oxygen', sans-serif;
}

.footer {
    position: fixed;
    left: 0px;
    bottom: 0;
    width: 100%;
    padding-top: 0.75em;
    height: 3em;
    background-color: #104E8B;
    color: #0f0f0f;
}

.navbar-header .navbar-brand {
    color: #0f0f0f;
}

.navbar-default .navbar-nav > li > a {
    color: #0f0f0f;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
    color: #555;
}

.navbar-nav > li > .dropdown-menu {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.cursor-pointer {
    cursor: pointer;
}

