.product-img {
    margin-left: 10%;
    max-width:75%;
    max-height:75%;
}

#prod-item {
    padding: 30px;
    background: #fff;
    border: 1px solid #ddd;
    font-size: 2rem;
    box-shadow: 0 0 5px #ddd;
    cursor: pointer;
}

#prod-category .borderline {
    padding-bottom:1em;
    border-bottom: thick solid #000;
}

#prod-category strong {
    font-size: 1.5em;
}